input[type=number] {
    width: 100px;
    margin-left: 3px;
}

button {
    display: block;
    margin: 10px auto;
}

ul {
    padding: 0;

}


.instructions p {
    margin: 3px;
    font-style: italic;
}

.busser-tips {
    border: 2px solid black;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: white;;
    margin: 15px auto;
}

.btns button {
    display: inline;
    margin: 6px 3px;
}

.hide {
    display: none;
}